<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIconFile</key>
		<string></string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSMinimumSystemVersion</key>
		<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
		<key>NSHumanReadableCopyright</key>
		<string>$(PRODUCT_COPYRIGHT)</string>
		<key>NSMainNibFile</key>
		<string>MainMenu</string>
		<key>NSPrincipalClass</key>
		<string>NSApplication</string>
		<key>LSUIElement</key>
		<string>0</string>
		<key>NSWindowWidth</key>
		<real>800.0</real>
		<key>NSWindowHeight</key>
		<real>600.0</real>
		<key>NSWindowButtonVisibility</key>
		<string>1</string>
		<key>NSCenterWindow</key>
		<string>1</string>
		<key>NSHideTitlebar</key>
		<string>1</string>
		<key>NSAnimationType</key>
		<string>audioEqualizer</string>
		<key>NSAnimationColor</key>
		<string>4A5859</string>
		<key>NSText</key>
		<string>「拾音坞｜一坞藏万乐，双耳遇知音」</string>
		<key>NSTextColor</key>
		<string>4A5859</string>
		<key>NSBackgroundColor</key>
		<string>F8F6F0</string>
		<key>NSDarkBackgroundColor</key>
		<string>0f0f1a</string>
	</dict>
</plist>
